<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<div>{{candidate_info.summary}}</div>
	<div>{{candidate_info.name}}</div>
	<div>{{candidate_info.email}}</div>
	<div>{{candidate_info.phone}}</div>
	
	<div>{{candidate_info.details}}</div>
	<div>{{candidate_info.school}}</div>
	<div>{{candidate_info.university}}</div>
	<div>{{candidate_info.previous_work}}</div>
	<div>{{candidate_info.skills}}</div>

</body>
</html>